.container {
  padding: 0;
  min-height: 100vh;
}

.main {
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 4rem;
  height: 6rem;
  border-bottom: 1px solid rgb(65, 55, 75);
}

.title {
  margin: 0;
  line-height: 1.15;
  text-align: center;
  font-size: 3rem;
}

.input {
  background: none;
  width: 100%;
  height: 45px;
  padding: 0 0.2rem;
  font: inherit;
  border: none;
  color:rgb(220, 220, 220);
}

.inputContainer {
  border-bottom: 3px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  max-width: 800px;
  margin: 0 0 3rem;
}

.searchIcon {
  margin: 0 0.5rem;
}

.input:focus {
  outline: none;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
