.container {
  background-color: white;
  color: black;
  padding: 1rem;
  margin: 1rem;
  aspect-ratio: 7/12; 
  border-radius: 5px; 
}

.top {
    display: flex;
    justify-content: space-between;
}

.topLeft,
.topRight {
    padding: 0.25rem;
    border: lightgray 2px solid;
    border-radius: 5px;
    width: 30%;
    font-size: smaller;
    display: flex;
}

.topCenter {
    text-align: center;
    flex-wrap: wrap;
    padding: 0 .25rem;
}

.topCenter h2 {
    margin-block-start: 0;
}

.tagsContainer {
    margin-top: 0.5rem;
}

.description {
    background-color: lightgray; 
    padding: 0.025rem 0.5rem;
    border-radius: 5px;
    margin: 0.5rem 0;
    line-height: 1.35;
}

.higherDesc {
    background-color: lightgray;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.5rem 0;
    line-height: 1.35;
}

.higherLevelTitle{
    font-weight: bold;
}